/* MOBILE */
@media (max-width: 576px) {
  .quienes-somos, .nosotras {
    margin: 2rem 1rem .75rem;
    padding: 1rem;
    background-color: rgba(255, 198, 173, 0.4);
    border-radius: 10px; }
  .quienes-somos h1, .nosotras h1 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 1.875rem;
    font-weight: 400;
    text-transform: uppercase; } }

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 0; }

.btn-whatsapp {
  position: absolute;
  width: 56px;
  height: 56px; }
  .btn-whatsapp a {
    text-decoration: none;
    position: fixed;
    right: 30px;
    bottom: 40px; }

/* GENERAL */
.titulo {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #EC6228; }

.navLinks {
  font-family: "Yanone Kaffeesatz", sans-serif; }

/* MOBILE */
@media (max-width: 576px) {
  nav {
    width: 100%;
    height: 25vh;
    min-height: 175px;
    background-color: #F9F9F9;
    box-shadow: 0px 0.4px 0.8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2); }
    nav .navbar-toggler {
      border: none; }
    nav .contenedorTitulo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      nav .contenedorTitulo .titulo {
        font-size: 2rem;
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 0; }
      nav .contenedorTitulo .nombre {
        text-align: center; } }

/* MOBILE */
@media (max-width: 576px) {
  .navbar-brand {
    margin: 0;
    padding: .625rem 0; }
  .logo__index {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0; }
  .quienes-somos a {
    text-decoration: none; }
    .quienes-somos a.ver-mas {
      display: flex;
      align-items: center;
      color: #EC6228;
      text-transform: uppercase; }
      .quienes-somos a.ver-mas p {
        font-size: 0.875rem; }
  h3 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase; }
  .nuestras-viandas {
    margin: 0 1rem .75rem;
    padding: 0 1rem; } }

/* MOBILE */
@media (max-width: 576px) {
  .nosotras {
    margin-top: 1rem; }
  .nuestra-historia {
    margin: .5rem 1rem 1rem;
    padding: 0 1rem; }
    .nuestra-historia h2 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 1.5rem;
      font-weight: normal;
      line-height: 28px;
      text-transform: uppercase; } }

/* MOBILE */
@media (max-width: 576px) {
  .mainViandas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px; }
    .mainViandas h3 {
      font-size: 1.875rem; } }

/* MOBILE */
@media (max-width: 576px) {
  .titulosConsejos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFC6AD; }
    .titulosConsejos .btnConsejos {
      font-family: "Roboto", sans-serif;
      font-size: 0.875rem;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      background-color: Transparent;
      background-repeat: no-repeat;
      border: none;
      overflow: hidden; }
  .contenedorConsejos {
    display: flex;
    flex-direction: column; }
    .contenedorConsejos .cajaConsejos {
      display: flex;
      flex-direction: row; } }

/* MOBILE */
@media (max-width: 576px) {
  .overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9998; }
  .modalContacto {
    background-color: #242424;
    color: #ffffff;
    border-radius: 10px;
    width: 90%;
    position: absolute;
    top: 45%;
    left: -100vw;
    z-index: 9999;
    transition: all .1s linear; }
    .modalContacto .modalCaja .contenedorDatos {
      width: 100%;
      margin-bottom: 2rem; }
      .modalContacto .modalCaja .contenedorDatos p {
        text-align: start; }
    .modalContacto .modalCaja p {
      font-family: "Roboto", sans-serif;
      line-height: 24px;
      margin: 2% 5%;
      text-align: center; }
    .modalContacto .modalCaja .datosContacto {
      font-weight: bold; }
    .modalContacto .modalCaja .modalRedes {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 1rem; }
      .modalContacto .modalCaja .modalRedes i {
        margin: 0 10%; } }

/* MOBILE */
@media (max-width: 576px) {
  .footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff; }
    .footer .footerCaja p {
      font-family: "Roboto", sans-serif;
      text-align: center;
      line-height: 24px;
      margin: 2% 5%; }
    .footer .footerCaja .footerRedes {
      display: flex;
      align-items: center;
      justify-content: space-around; }
      .footer .footerCaja .footerRedes i {
        margin: 0 15%; } }
