/* MOBILE */
@media (max-width: 576px) {
  .quienes-somos, .nosotras {
    margin: 2rem 1rem .75rem;
    padding: 1rem;
    background-color: rgba(255, 198, 173, 0.4);
    border-radius: 10px; }
  h1 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: .625rem; }
  .mainViandas .contentViandas .primeraFilaCards .overlayCards, .mainViandas .contentViandas .segundaFilaCards a .overlayCards, .mainViandas .contentViandas .terceraFilaCards a .overlayCards {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    background-color: rgba(236, 98, 40, 0.6);
    width: 100%;
    height: 48px; } }

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 0; }

.btn-whatsapp {
  position: absolute;
  width: 56px;
  height: 56px; }
  .btn-whatsapp a {
    text-decoration: none;
    position: fixed;
    right: 30px;
    bottom: 40px; }

/* GENERAL */
.titulo {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #EC6228;
  margin-bottom: 0; }

.navLinks {
  font-family: "Yanone Kaffeesatz", sans-serif; }

/* MOBILE */
@media (max-width: 576px) {
  nav {
    width: 100%;
    background-color: #F9F9F9;
    box-shadow: 0px 0.4px 0.8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2); }
    nav.navbar {
      height: 25vh;
      min-height: 175px; }
    nav.segundaNavbar {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      height: 10vh;
      min-height: 80px;
      align-items: center;
      padding-top: .5rem;
      padding-bottom: .5rem; }
      nav.segundaNavbar .segundoContLogo {
        display: flex;
        justify-content: left; }
        nav.segundaNavbar .segundoContLogo a {
          flex: 1; }
          nav.segundaNavbar .segundoContLogo a .logo {
            justify-content: center;
            align-items: flex-end; }
    nav .navbar-toggler {
      border: none; }
      nav .navbar-toggler .navbar-toggler-icon {
        width: 24px;
        height: 24px; }
    nav .contenedorTitulo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      nav .contenedorTitulo .titulo {
        font-size: 2rem;
        text-align: center;
        margin-top: 0.5rem; }
      nav .contenedorTitulo .nombre {
        text-align: center; } }

/* MOBILE */
@media (max-width: 576px) {
  .navbar-brand {
    margin: 0;
    padding: .625rem 0; }
  .logo__index {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0; }
  .quienes-somos a {
    text-decoration: none; }
    .quienes-somos a.verMas {
      display: flex;
      align-items: center;
      color: #EC6228;
      text-transform: uppercase; }
      .quienes-somos a.verMas p {
        font-size: 0.875rem; }
  h3 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase; }
  .nuestras-viandas {
    margin: 0 1rem .75rem;
    padding: 0 1rem; } }

/* MOBILE */
@media (max-width: 576px) {
  .nosotras {
    margin-top: 1rem; }
  .nuestra-historia {
    margin: .5rem 1rem 1rem;
    padding: 0 1rem; }
    .nuestra-historia h2 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 1.5rem;
      font-weight: normal;
      line-height: 28px;
      text-transform: uppercase; } }

/* MOBILE */
@media (max-width: 576px) {
  .mainViandas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 19px; }
    .mainViandas .contentViandas {
      margin-top: 1.188rem; }
      .mainViandas .contentViandas .primeraFilaCards {
        position: relative; }
        .mainViandas .contentViandas .primeraFilaCards img {
          width: 100%;
          height: auto;
          object-fit: cover; }
        .mainViandas .contentViandas .primeraFilaCards .overlayCards p {
          color: #ffffff;
          font-weight: 700;
          font-size: 0.875rem;
          line-height: 20px; }
      .mainViandas .contentViandas .segundaFilaCards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 4px;
        margin-top: .25rem;
        margin-bottom: .25rem; }
        .mainViandas .contentViandas .segundaFilaCards a {
          position: relative; }
          .mainViandas .contentViandas .segundaFilaCards a img {
            width: 100%;
            height: auto;
            object-fit: cover; }
          .mainViandas .contentViandas .segundaFilaCards a .overlayCards {
            height: 36px; }
            .mainViandas .contentViandas .segundaFilaCards a .overlayCards p {
              color: #ffffff;
              font-weight: 700;
              font-size: 0.875rem;
              line-height: 20px; }
      .mainViandas .contentViandas .terceraFilaCards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 4px;
        margin-bottom: .25rem; }
        .mainViandas .contentViandas .terceraFilaCards a {
          position: relative; }
          .mainViandas .contentViandas .terceraFilaCards a img {
            width: 100%;
            height: auto;
            object-fit: cover; }
          .mainViandas .contentViandas .terceraFilaCards a .overlayCards p {
            color: #ffffff;
            font-weight: 700;
            font-size: 0.875rem;
            line-height: 20px; }
    .mainViandas .btnViandas {
      background-color: #EC6228;
      width: 100%;
      padding: 0.75rem;
      text-decoration: none; }
      .mainViandas .btnViandas p {
        color: #ffffff;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.15px; }
  .contenedorTituloViandas {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-transform: uppercase;
    height: 5vh;
    min-height: 89px;
    padding-bottom: 1rem;
    background-color: #D0EBDC; }
    .contenedorTituloViandas .iconoTitulo {
      display: flex;
      align-items: flex-start; }
      .contenedorTituloViandas .iconoTitulo a {
        color: #000000;
        text-decoration: none; }
      .contenedorTituloViandas .iconoTitulo h1 {
        margin-bottom: 0; }
  .bgNaranja {
    background-color: #FFC6AD; }
  .textoViandas {
    padding-top: .375rem;
    padding-bottom: .625rem;
    border-bottom: 1px solid rgba(33, 33, 33, 0.08); }
  .contenedorViandas {
    display: flex;
    flex-direction: column;
    margin-top: 1.375rem; }
    .contenedorViandas .cajaViandas {
      display: flex;
      flex-direction: row;
      padding-top: .875rem;
      padding-bottom: .875rem;
      border-bottom: 1px solid rgba(33, 33, 33, 0.08); }
      .contenedorViandas .cajaViandas h6 {
        font-family: "Roboto", sans-serif;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 24px; }
      .contenedorViandas .cajaViandas .viandasTitulo {
        display: flex;
        align-items: baseline; }
        .contenedorViandas .cajaViandas .viandasTitulo h6 {
          padding-bottom: 0.125rem; }
      .contenedorViandas .cajaViandas:last-child {
        margin-bottom: 15vh; } }

/* MOBILE */
@media (max-width: 576px) {
  .titulosConsejos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFC6AD; }
    .titulosConsejos .btnConsejos {
      font-family: "Roboto", sans-serif;
      font-size: 0.875rem;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      background-color: Transparent;
      background-repeat: no-repeat;
      border: none;
      overflow: hidden; }
  .contenedorConsejos {
    display: flex;
    flex-direction: column; }
    .contenedorConsejos .cajaConsejos {
      display: flex;
      flex-direction: row; } }

/* MOBILE */
@media (max-width: 576px) {
  .overlay {
    display: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9998; }
  .modalContacto {
    background-color: #242424;
    color: #ffffff;
    border-radius: 10px;
    width: 90%;
    position: fixed;
    top: 45vh;
    right: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    transition: all .1s ease-in; }
    .modalContacto .modalCaja .contenedorDatos {
      width: 100%;
      margin-bottom: 2rem; }
      .modalContacto .modalCaja .contenedorDatos p {
        text-align: start; }
    .modalContacto .modalCaja p {
      font-family: "Roboto", sans-serif;
      line-height: 24px;
      margin: 2% 5%;
      text-align: center; }
    .modalContacto .modalCaja .datosContacto {
      font-weight: bold; }
    .modalContacto .modalCaja .modalRedes {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 1rem; }
      .modalContacto .modalCaja .modalRedes i {
        margin: 0 10%; }
    .modalContacto[data-animation="desplazarDerecha"] {
      opacity: 0;
      transform: translateX(200%);
      transition: all 0.35s linear; }
    .modalContacto[data-animation="desplazarDerecha"].visible {
      opacity: 1;
      transform: none;
      transition-delay: 0.2s; }
  .visible {
    visibility: visible;
    opacity: 1; } }

/* MOBILE */
@media (max-width: 576px) {
  .footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff; }
    .footer .footerCaja p {
      font-family: "Roboto", sans-serif;
      text-align: center;
      line-height: 24px;
      margin: 2% 5%; }
    .footer .footerCaja .footerRedes {
      display: flex;
      align-items: center;
      justify-content: space-around; }
      .footer .footerCaja .footerRedes i {
        margin: 0 15%; } }
