* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 0; }

.btn-whatsapp {
  position: absolute;
  width: 56px;
  height: 56px;
  left: -4px;
  top: 0px; }
  .btn-whatsapp a {
    text-decoration: none;
    position: fixed;
    right: 30px;
    bottom: 40px; }

/* MOBILE */
@media (max-width: 576px) {
  nav {
    width: 100%;
    height: 25vh;
    min-height: 175px;
    background-color: #F9F9F9;
    box-shadow: 0px 0.4px 0.8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2); }
    nav .navbar-toggler {
      border: none; }
    nav .contenedorTitulo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      nav .contenedorTitulo .titulo {
        color: #EC6228;
        font-size: 2rem;
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 0;
        font-family: "Yanone Kaffeesatz", sans-serif; }
      nav .contenedorTitulo .nombre {
        text-align: center; }
    nav .navLinks {
      font-family: "Yanone Kaffeesatz", sans-serif; } }

/* MOBILE */
@media (max-width: 576px) {
  .quienes-somos, .nosotras {
    margin: 2rem 1rem .75rem;
    padding: 1rem;
    background-color: rgba(255, 198, 173, 0.4);
    border-radius: 10px; } }

/* MOBILE */
@media (max-width: 576px) {
  .navbar-brand {
    margin: 0;
    padding: .625rem 0; }
  .logo__index {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0; }
  .quienes-somos h1 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 1.875rem;
    font-weight: 400;
    text-transform: uppercase; }
  .quienes-somos a {
    text-decoration: none; }
    .quienes-somos a.ver-mas {
      display: flex;
      align-items: center;
      color: #EC6228;
      text-transform: uppercase; }
      .quienes-somos a.ver-mas p {
        font-size: 0.875rem; }
  h3 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase; }
  .nuestras-viandas {
    margin: 0 1rem .75rem;
    padding: 0 1rem; } }

/* MOBILE */
@media (max-width: 576px) {
  .imagen__nosotras {
    width: 100%; }
  .nosotras {
    margin-top: 1rem; } }

/* MOBILE */
@media (max-width: 576px) {
  .footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff; }
    .footer .footerCaja p {
      font-family: "Roboto", sans-serif;
      text-align: center;
      line-height: 24px;
      margin: 2% 5%; }
    .footer .footerCaja .footerRedes {
      display: flex;
      align-items: center;
      justify-content: space-around; }
      .footer .footerCaja .footerRedes i {
        margin: 0 15%; } }
