/* MOBILE */
@media (max-width: 576px) {
  .titulo, nav.navbar .contLogo a .logoSecundario .tituloSecundario {
    font-family: "Yanone Kaffeesatz", sans-serif;
    color: #EC6228;
    margin-bottom: 0; }
  .quienes-somos, .nosotras {
    margin: 2rem 1rem 1rem;
    padding: 1rem 1rem 0.2rem;
    background-color: rgba(255, 198, 173, 0.4);
    border-radius: 10px; }
  h1 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: .625rem; }
  nav.navbar h2, nav.segundaNavbar h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0;
    text-align: center; }
  .mainViandas .contentViandas .primeraFilaCards .overlayCards, .mainViandas .contentViandas .segundaFilaCards a .overlayCards, .mainViandas .contentViandas .terceraFilaCards a .overlayCards {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    background-color: rgba(236, 98, 40, 0.6);
    width: 100%;
    height: 48px; } }

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.25px;
  margin-bottom: 0; }

.visible {
  visibility: visible;
  opacity: 1; }

.none {
  display: none; }

.btn-whatsapp {
  display: none;
  position: absolute;
  width: 56px;
  height: 56px; }
  .btn-whatsapp a {
    text-decoration: none;
    position: fixed;
    right: 30px;
    bottom: 40px; }

/* GENERAL */
.navLinks {
  font-family: "Yanone Kaffeesatz", sans-serif; }

/* MOBILE */
@media (max-width: 576px) {
  nav {
    width: 100%;
    background-color: #F9F9F9;
    -moz-box-shadow: 0px 0.4px 0.8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0.4px 0.8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0.4px 0.8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-collapse: separate; }
    nav.navbar {
      height: fit-content; }
      nav.navbar .contLogo {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%; }
        nav.navbar .contLogo a {
          visibility: hidden;
          flex: 1; }
          nav.navbar .contLogo a .logoSecundario {
            justify-content: center;
            height: 33.16px;
            align-items: flex-end; }
            nav.navbar .contLogo a .logoSecundario .tituloSecundario {
              margin-left: 2.194rem; }
          nav.navbar .contLogo a[data-animation="aparecerArriba"] {
            opacity: 0;
            -webkit-transform: translate(3%, 15%);
            transform: translate(3%, 15%);
            -webkit-transition: all 0.45s linear;
            -moz-transition: all 0.45s linear;
            -o-transition: all 0.45s linear;
            transition: all 0.45s linear; }
          nav.navbar .contLogo a[data-animation="aparecerArriba"].visible {
            transform: none;
            -webkit-transition-delay: 0.2s;
            -moz-transition-delay: 0.2s;
            -o-transition-delay: 0.2s;
            transition-delay: 0.2s;
            opacity: 1; }
      nav.navbar .navbar-brand {
        margin: 0;
        padding: .625rem 0; }
        nav.navbar .navbar-brand.logo__index {
          position: relative;
          padding: 0;
          margin: auto;
          bottom: 0; }
      nav.navbar .logoZanahoria {
        position: absolute;
        margin: auto;
        top: 2.5rem;
        left: 0;
        right: 0; }
        nav.navbar .logoZanahoria[data-animation="trasladarArriba"].visible {
          -webkit-transform: translate(-5.8rem, -1.9rem) scale(0.657);
          transform: translate(-5.8rem, -1.9rem) scale(0.657);
          -moz-transition: all 0.6s ease-in;
          -webkit-transition: all 0.6s ease-in;
          -o-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in; }
        nav.navbar .logoZanahoria[data-animation="trasladarArriba"] {
          -webkit-transform: none;
          transform: none;
          -moz-transition-delay: 0.2s;
          -webkit-transition-delay: 0.2s;
          -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
          -moz-transition: all 0.6s ease-in;
          -webkit-transition: all 0.6s ease-in;
          -o-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in;
          opacity: 1; }
      nav.navbar .navbar-collapse {
        position: relative;
        top: -15rem;
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        -o-transition: all 0.15s linear;
        transition: all 0.15s linear; }
        nav.navbar .navbar-collapse.show {
          top: 0;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear; }
    nav.segundaNavbar {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      height: fit-content;
      align-items: center; }
      nav.segundaNavbar .segundoContLogo {
        display: flex;
        justify-content: left; }
        nav.segundaNavbar .segundoContLogo a {
          flex: 1; }
          nav.segundaNavbar .segundoContLogo a .logo {
            justify-content: center;
            align-items: flex-end; }
    nav .navbar-toggler {
      border: none; }
      nav .navbar-toggler .navbar-toggler-icon {
        width: 24px;
        height: 24px; }
    nav .contenedorTitulo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2rem; }
      nav .contenedorTitulo .titulo {
        font-size: 2rem;
        text-align: center;
        margin-top: 0.5rem; }
      nav .contenedorTitulo .nombre {
        text-align: center; } }

/* MOBILE */
@media (max-width: 576px) {
  .quienes-somos a {
    text-decoration: none; }
    .quienes-somos a.verMas {
      display: flex;
      align-items: center;
      color: #EC6228;
      text-transform: uppercase; }
      .quienes-somos a.verMas p {
        font-size: 0.875rem; }
  h3 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase; }
  .nuestras-viandas {
    margin: 0 1rem .5rem;
    padding: 0 1rem; } }

/* MOBILE */
@media (max-width: 576px) {
  .nosotras {
    margin-top: 1rem; }
  .nuestra-historia {
    margin: .5rem 1rem 1rem;
    padding: 0 1rem; }
    .nuestra-historia h2 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 1.5rem;
      font-weight: normal;
      line-height: 28px;
      text-transform: uppercase; } }

/* MOBILE */
@media (max-width: 576px) {
  .mainViandas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 19px; }
    .mainViandas .contentViandas {
      margin-top: 1.188rem; }
      .mainViandas .contentViandas .primeraFilaCards {
        position: relative; }
        .mainViandas .contentViandas .primeraFilaCards img {
          width: 100%;
          height: auto;
          object-fit: cover; }
        .mainViandas .contentViandas .primeraFilaCards .overlayCards p {
          color: #ffffff;
          font-weight: 700;
          font-size: 0.875rem;
          line-height: 20px; }
      .mainViandas .contentViandas .segundaFilaCards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 4px;
        margin-top: .25rem;
        margin-bottom: .25rem; }
        .mainViandas .contentViandas .segundaFilaCards a {
          position: relative; }
          .mainViandas .contentViandas .segundaFilaCards a img {
            width: 100%;
            height: auto;
            object-fit: cover; }
          .mainViandas .contentViandas .segundaFilaCards a .overlayCards {
            height: 36px; }
            .mainViandas .contentViandas .segundaFilaCards a .overlayCards p {
              color: #ffffff;
              font-weight: 700;
              font-size: 0.875rem;
              line-height: 20px; }
      .mainViandas .contentViandas .terceraFilaCards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 4px;
        margin-bottom: .25rem; }
        .mainViandas .contentViandas .terceraFilaCards a {
          position: relative; }
          .mainViandas .contentViandas .terceraFilaCards a img {
            width: 100%;
            height: auto;
            object-fit: cover; }
          .mainViandas .contentViandas .terceraFilaCards a .overlayCards p {
            color: #ffffff;
            font-weight: 700;
            font-size: 0.875rem;
            line-height: 20px; }
    .mainViandas .btnViandas {
      background-color: #EC6228;
      width: 100%;
      padding: 0.75rem;
      text-decoration: none; }
      .mainViandas .btnViandas p {
        color: #ffffff;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.15px; }
  .contenedorTituloViandas {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-transform: uppercase;
    height: 5vh;
    min-height: 89px;
    padding-bottom: 1rem;
    background-color: #D0EBDC; }
    .contenedorTituloViandas .iconoTitulo {
      display: flex;
      align-items: flex-start; }
      .contenedorTituloViandas .iconoTitulo a {
        color: #000000;
        text-decoration: none; }
      .contenedorTituloViandas .iconoTitulo h1 {
        margin-bottom: 0; }
  .bgNaranja {
    background-color: #FFC6AD; }
  .textoViandas {
    padding-top: .375rem;
    padding-bottom: .625rem;
    border-bottom: 1px solid rgba(33, 33, 33, 0.08); }
  .contenedorViandas {
    display: flex;
    flex-direction: column;
    margin-top: 1.375rem; }
    .contenedorViandas .cajaViandas {
      display: flex;
      flex-direction: row;
      padding-top: .875rem;
      padding-bottom: .875rem;
      border-bottom: 1px solid rgba(33, 33, 33, 0.08); }
      .contenedorViandas .cajaViandas h6 {
        font-family: "Roboto", sans-serif;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 24px; }
      .contenedorViandas .cajaViandas .viandasTitulo {
        display: flex;
        align-items: baseline; }
        .contenedorViandas .cajaViandas .viandasTitulo h6 {
          padding-bottom: 0.125rem; }
      .contenedorViandas .cajaViandas:last-child {
        margin-bottom: 5.5rem; } }

/* MOBILE */
@media (max-width: 576px) {
  .titulosConsejos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFC6AD;
    -moz-box-shadow: 0px 0.1px 0.3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0.1px 0.3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0.1px 0.3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-collapse: separate; }
    .titulosConsejos .btnConsejos {
      font-family: "Roboto", sans-serif;
      font-size: 0.875rem;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      background-color: Transparent;
      background-repeat: no-repeat;
      border: none;
      overflow: hidden; }
  .contenedorConsejos {
    display: flex;
    flex-direction: column;
    padding: 0 4% 12%; }
    .contenedorConsejos a {
      color: rgba(0, 0, 0, 0.6);
      text-decoration: none; }
      .contenedorConsejos a .cajaConsejos {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgba(33, 33, 33, 0.08);
        padding: 1rem 0; }
        .contenedorConsejos a .cajaConsejos .subtitulo {
          font-size: 1rem;
          color: rgba(0, 0, 0, 0.87); }
        .contenedorConsejos a .cajaConsejos img {
          margin: 0 6% 0 9%; }
        .contenedorConsejos a .cajaConsejos i {
          position: relative;
          top: 0.5rem; } }

/* MOBILE */
@media (max-width: 576px) {
  .overlay {
    display: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9998; }
  .modalContacto {
    background-color: #242424;
    color: #ffffff;
    border-radius: 10px;
    width: 90%;
    position: fixed;
    top: 43vh;
    right: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    transition: all .1s ease-in; }
    .modalContacto .modalCaja .contenedorDatos {
      width: 100%;
      margin-bottom: 2rem; }
      .modalContacto .modalCaja .contenedorDatos p {
        text-align: start; }
    .modalContacto .modalCaja p {
      font-family: "Roboto", sans-serif;
      line-height: 24px;
      margin: 2% 5%;
      text-align: center; }
    .modalContacto .modalCaja .datosContacto {
      font-weight: bold; }
    .modalContacto .modalCaja .modalRedes {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 1rem; }
      .modalContacto .modalCaja .modalRedes i {
        margin: 0 10%; }
    .modalContacto[data-animation="desplazarDerecha"] {
      opacity: 0;
      transform: translateX(200%);
      transition: all 0.35s linear; }
    .modalContacto[data-animation="desplazarDerecha"].visible {
      opacity: 1;
      transform: none;
      transition-delay: 0.2s; } }

.slider {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 5vh;
  -webkit-overflow-scrolling: touch; }
  .slider::-webkit-scrollbar {
    display: none; }
  .slider .slider__card {
    display: inline-block;
    border-radius: 10px;
    margin: 0 8px;
    overflow: hidden; }
    .slider .slider__card:first-child {
      margin-right: 8px;
      margin-left: 0; }
    .slider .slider__card:last-child {
      margin-right: 0;
      margin-left: 8px; }
    .slider .slider__card a {
      width: 100%;
      height: 100%;
      text-decoration: none;
      position: relative; }
      .slider .slider__card a .slider__titulo {
        position: absolute;
        border-radius: 10px 10px 0 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6); }
        .slider .slider__card a .slider__titulo p {
          color: #ffffff;
          font-weight: 700;
          text-align: center;
          letter-spacing: 0.15px;
          padding: 5px 0; }

/* MOBILE */
@media (max-width: 576px) {
  .footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff; }
    .footer .footerCaja p {
      font-family: "Roboto", sans-serif;
      text-align: center;
      line-height: 24px;
      margin: 2% 5%; }
    .footer .footerCaja .footerRedes {
      display: flex;
      align-items: center;
      justify-content: space-around; }
      .footer .footerCaja .footerRedes i {
        margin: 0 15%; } }
