$color-negro: #242424;
$color-negro1: #000000;
$color-negro2: rgba(0, 0, 0, 0.8);
$color-negro3: rgba(0, 0, 0, 0.87);
$color-negroTransp: rgba(0, 0, 0, 0.6);
$color-negroTransp2: rgba(0, 0, 0, 0.3);
$color-blanco: #ffffff;
$color-blanco2: #F9F9F9;
$color-naranja: #EC6228;
$color-naranja2: rgba(255, 198, 173, 0.4);
$color-naranja3: #FFC6AD;
$color-naranja4: rgba(236, 98, 40, .6);
$color-verde: #D0EBDC;
$color-gris: rgba(33, 33, 33, 0.08)

