$color-negro: #242424;
$color-negro1: #000000;
$color-negro2: rgba(0, 0, 0, 0.8);
$color-negro3: rgba(0, 0, 0, 0.87);
$color-negro4: #333333;
$color-negroTransp: rgba(0, 0, 0, 0.6);
$color-negroTransp2: rgba(0, 0, 0, 0.3);
$color-blanco: #ffffff;
$color-blanco2: #f9f9f9;
$color-naranja: #ec6228;
$color-naranja2: rgba(255, 198, 173, 0.4);
$color-naranja3: #ffc6ad;
$color-naranja4: rgba(236, 98, 40, 0.6);
$color-naranja5: #f1895d;
$color-verde: #d0ebdc;
$color-gris: rgba(33, 33, 33, 0.08);
