$color-negro: #000000;
$color-negro2: rgba(0, 0, 0, 0.8);
$color-negroTransp: rgba(0, 0, 0, 0.6);
$color-blanco: #ffffff;
$color-blanco2: #F9F9F9;
$color-naranja: #EC6228;
$color-naranja2: rgba(255, 198, 173, 0.4)

