@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?r9gbwj');
  src:  url('fonts/icomoon.eot?r9gbwj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?r9gbwj') format('truetype'),
    url('fonts/icomoon.woff?r9gbwj') format('woff'),
    url('fonts/icomoon.svg?r9gbwj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flecha:before {
  content: "\e907";
  font-size: 1rem;
  margin-bottom: .625rem;
}
.icon-diabeticos:before {
  content: "\e908";
}
.icon-saludable:before {
  content: "\e909";
}
.icon-descenso:before {
  content: "\e90a";
  font-size: 2.125rem;
  margin-bottom: .625rem;
}
.icon-singluten:before {
  content: "\e90b";
}
.icon-sinsal:before {
  content: "\e90c";
}
.icon-todas:before {
  content: "\e90d";
}
.icon-vegetarianas:before {
  content: "\e90e";
}
.icon-whatsappModal:before {
  content: "\e906";
  font-size: 2.5rem;
}
.icon-mas:before {
  content: "\e905";
  color: #ec6228;
  font-size: 1.2rem;
  padding-right: 0.3rem;
}
.icon-facebook:before {
  content: "\e900";
  font-size: 2.5rem;
}
.icon-instagram:before {
  content: "\e901";
  font-size: 2.5rem;
}
.icon-tiktok:before {
  content: "\e902";
  font-size: 2.5rem;
}
.icon-whatsapp .path1:before {
  content: "\e903";
  font-size: 2.9rem;
  font-style: normal;
  color: rgb(76, 175, 80);
}
.icon-whatsapp .path2:before {
  content: "\e904";
  font-size: 2.9rem;
  font-style: normal;
  margin-left: -1.17em;
  color: rgb(250, 250, 250);
}