%titulo-desktop {
	font-family: $yanone;
	color: $color-naranja;
	margin-bottom: 0;
}

%texto-principal-desktop {
	color: $color-negro3;
	font-family: $roboto;
	font-size: calc(0.65rem + calc(0.1rem + 1vw));
	font-weight: 300;
	line-height: 35px;
}

@media (max-width: 576px) {
	%titulo {
		font-family: $yanone;
		color: $color-naranja;
		margin-bottom: 0;
	}

	%h2 {
		font-size: 24px;
		font-weight: 400;
		line-height: 28px;
		margin-bottom: 0;
		text-align: center;
	}

	%texto-principal-mobile {
		color: $color-negro3;
		font-family: $roboto;
		font-size: calc(0.5rem + calc(0.1rem + 1vw));
		font-weight: 400;
		line-height: 24px;
	}

	%overlay-cards {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: flex-end;
		background-color: $color-naranja4;
		width: 100%;
		height: 48px;
	}
}
