 /* MOBILE */
 @media (max-width: 576px) {

  %titulo {
    font-family: $yanone;
    color: $color-naranja;
    margin-bottom: 0;
  }

  %cuadroNaranja {
    margin: 2rem 1rem 1rem;
    padding: 1rem 1rem 0.2rem;
    background-color: $color-naranja2;
    border-radius: 10px;
  }

  %h1 {
    font-family: $yanone;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: .625rem;
  }

  %h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0;
    text-align: center
  }

  %overlayCards {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    background-color: $color-naranja4;
    width: 100%;
    height: 48px; 
  }

 }