 /* MOBILE */
@media (max-width: 576px) {

    .quienes-somos {
        @extend %cuadroNaranja;
    
        a {
            text-decoration: none;
    
            &.verMas {
                display: flex;
                align-items: center;
                color: $color-naranja;
                text-transform: uppercase;

                p {
                    font-size: 0.875rem;
                    padding-top: .1rem;
                }
            }
        }
    }
    
    h3 {
        font-family: $yanone;
        font-size: 1.25rem;
        text-transform: uppercase;
    }

    .nuestras-viandas {
        margin: 0 1rem .5rem;
        padding: 0 1rem;
    }

}


