@import '../variables/colores';

.titulo {
    color: $color-naranja;
    font-size: 1rem;
    text-align: center;
}

.quienes-somos {
    margin: 2rem;
    padding: 1rem;
    background-color: $color-naranja2;
    border-radius: 10px;

    h1 {
       font-size: 1.875rem; 
       font-weight: 400;
       text-transform: uppercase;
    }

    a {
        text-decoration: none; 

        &.ver-mas {
            color: $color-naranja;
            font-size: 0.875rem;
            text-transform: uppercase;
        }

        &::before {
            content: '+';
            font-size: 1.5rem;
            height: 100%;
            vertical-align: baseline;
            padding-right: 0.688rem;
        }
    }

    
}

h3 {
    font-size: 1.25rem;
    text-transform: uppercase;
}

