/* GENERAL */

.navLinks {
	font-family: $yanone;
}

/* DESKTOP */
nav {
	width: 100%;
	background-color: $color-blanco;
	-moz-box-shadow: 0px 0.4px 0.8px rgba(0, 0, 0, 0.1),
		0px 3px 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0.4px 0.8px rgba(0, 0, 0, 0.1),
		0px 3px 6px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0.4px 0.8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2);
	border-collapse: separate;

	.cont-logo {
		display: none;
	}

	.logo-zanahoria {
		width: 42px;
		height: auto;
		margin: auto;
	}

	.contenedor-titulo {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-left: 1rem;

		.titulo {
			@extend %tituloDesktop;
			font-size: 2.3rem;
			text-align: center;
			margin-top: 0.5rem;
		}
	}

	.titulo-secundario {
		display: none;
	}

	.navbar-collapse {
		display: flex;
		justify-content: flex-end;

		.navbar-nav {
			display: flex;
			justify-content: center;
			align-items: center;

			.nav-item {
				.nav-link {
					padding-right: 1.5rem;
					padding-left: 1.5rem;

					h2 {
						color: $color-negro1;
						font-size: 1.5rem;
						line-height: 28px;
					}
				}
			}
		}
	}
}

/* MOBILE */
@media (max-width: 576px) {
	nav {
		background-color: $color-blanco2;

		&.navbar {
			height: fit-content;
			padding-top: 0;

			.cont-logo {
				display: flex;
				justify-content: left;
				align-items: center;
				background-color: $color-blanco2;
				width: 100%;
				height: 100%;
				padding-top: 0.5rem;
				width: 100%;
				z-index: 10;

				a {
					visibility: hidden;
					flex: 1;

					.logo-secundario {
						justify-content: center;
						height: 33.16px;
						align-items: flex-end;
						z-index: 10;

						.titulo-secundario {
							display: block;
							@extend %titulo;
							font-size: 1.875rem;
							margin-left: 2.194rem;
						}
					}

					&[data-animation="aparecerArriba"] {
						opacity: 0;
						-webkit-transform: translate(3%, 15%);
						transform: translate(3%, 15%);
						-webkit-transition: all 0.45s linear;
						-moz-transition: all 0.45s linear;
						-o-transition: all 0.45s linear;
						transition: all 0.45s linear;
					}

					&[data-animation="aparecerArriba"].visible {
						transform: none;
						-webkit-transition-delay: 0.2s;
						-moz-transition-delay: 0.2s;
						-o-transition-delay: 0.2s;
						transition-delay: 0.2s;
						opacity: 1;
					}
				}
			}

			.navbar-brand {
				margin: 0;
				padding: 0.625rem 0;

				&.logo__index {
					position: relative;
					padding: 0;
					margin: auto;
					bottom: 0;
				}
			}

			h2 {
				@extend %h2;
			}

			.logo-zanahoria {
				position: absolute;
				margin: auto;
				width: 29.1px;
				height: 50.48px;
				top: 2.5rem;
				left: 0;
				right: 0;
				z-index: 10;

				&[data-animation="trasladarArriba"].visible {
					-webkit-transform: translate(-5.8rem, -1.9rem) scale(0.657);
					transform: translate(-5.8rem, -1.9rem) scale(0.657);
					-moz-transition: all 0.6s ease-in;
					-webkit-transition: all 0.6s ease-in;
					-o-transition: all 0.6s ease-in;
					transition: all 0.6s ease-in;
				}

				&[data-animation="trasladarArriba"] {
					-webkit-transform: none;
					transform: none;
					-moz-transition-delay: 0.2s;
					-webkit-transition-delay: 0.2s;
					-o-transition-delay: 0.2s;
					transition-delay: 0.2s;
					-moz-transition: all 0.6s ease-in;
					-webkit-transition: all 0.6s ease-in;
					-o-transition: all 0.6s ease-in;
					transition: all 0.6s ease-in;
					opacity: 1;
				}
			}

			.navbar-collapse {
				justify-content: center;
				position: relative;
				top: -20rem;

				&.collapsing {
					-webkit-transition: all 0.3s linear;
					-moz-transition: all 0.3s linear;
					-o-transition: all 0.3s linear;
					transition: all 0.3s linear;
				}

				&.show {
					top: 0;
					-webkit-transition: all 0.3s linear;
					-moz-transition: all 0.3s linear;
					-o-transition: all 0.3s linear;
					transition: all 0.3s linear;
				}

				.navbar-nav {
					align-items: center;
				}

				.navbar-nav {
					.nav-item {
						.nav-link {
							h2 {
								color: $color-negroTransp;
							}
						}
					}
				}
			}
		}

		&.segunda-navbar {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			height: fit-content;
			align-items: center;

			.segundo-cont-logo {
				.nav-superior {
					background-color: $color-blanco2;
					width: 100%;
					height: 100%;
					display: flex;
					padding-top: 0.5rem;
					justify-content: left;
					z-index: 10;

					a {
						flex: 1;

						.logo {
							justify-content: center;
							align-items: flex-end;

							.titulo {
								@extend %titulo;
								font-size: 1.875rem;
							}
						}
					}
				}
			}
		}

		.navbar-toggler {
			border: none;

			.navbar-toggler-icon {
				width: 24px;
				height: 24px;
			}
		}

		.contenedor-titulo {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-top: 2rem;

			.titulo {
				@extend %titulo;
				font-size: 2rem;
				text-align: center;
				margin-top: 0.5rem;
			}

			img {
				height: 27px;
				width: 150px;
			}

			.nombre {
				text-align: center;
			}
		}
	}
}
