/* GENERAL */
.titulo {
  @extend %titulo
}

.navLinks {
  font-family: $yanone;
}

/* MOBILE */
@media (max-width: 576px) {
  
  nav {
    width: 100%;
    background-color: $color-blanco2;
    -moz-box-shadow: 0px 0.4px 0.8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0.4px 0.8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0.4px 0.8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-collapse: separate;

    &.navbar {
      height: fit-content;

      .contLogo {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;

        a {
          visibility: hidden;
          flex: 1;

          .logoSecundario {
            justify-content: center;
            height: 33.16px;
            align-items: flex-end;
            z-index: 10;

            .tituloSecundario {
              @extend %titulo;
              margin-left: 2.194rem;
            }
          }
          
          &[data-animation="aparecerArriba"] {
            opacity: 0;
            -webkit-transform: translate(3%, 15%);
            transform: translate(3%, 15%);
            -webkit-transition: all 0.45s linear;
            -moz-transition: all 0.45s linear;
            -o-transition: all 0.45s linear;
            transition: all 0.45s linear;
          }
      
          &[data-animation="aparecerArriba"].visible {
            transform: none;
            -webkit-transition-delay: 0.2s;
            -moz-transition-delay: 0.2s;
            -o-transition-delay: 0.2s;
            transition-delay: 0.2s;
            opacity: 1
          }
        }
      }

      .navbar-brand {
        margin: 0;
        padding: .625rem 0;

        &.logo__index {
          position: relative;
          padding: 0;
          margin: auto;
          bottom: 0;
        }
      }

      h2 {
        @extend %h2;
      }

      .logoZanahoria {
        position: absolute;
        margin: auto;
        top: 2.5rem;
        left: 0;
        right: 0;
        z-index: 10;

        &[data-animation="trasladarArriba"].visible {
          -webkit-transform: translate(-5.8rem, -1.9rem) scale(0.657);
          transform: translate(-5.8rem, -1.9rem) scale(0.657);
          -moz-transition: all 0.6s ease-in;
          -webkit-transition: all 0.6s ease-in;
          -o-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in;
        }
    
        &[data-animation="trasladarArriba"] {
          -webkit-transform: none;
          transform: none;
          -moz-transition-delay: 0.2s;
          -webkit-transition-delay: 0.2s;
          -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
          -moz-transition: all 0.6s ease-in;
          -webkit-transition: all 0.6s ease-in;
          -o-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in;
          opacity: 1
        }
      }

      .navbar-collapse {
        position: relative;
        top: -15rem;
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        -o-transition: all 0.15s linear;
        transition: all 0.15s linear;

        &.show {
          top: 0;
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          transition: all 0.3s linear;
        }
      }
    }

    &.segundaNavbar {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      height: fit-content;
      align-items: center;

      h2 {
        @extend %h2;
      }

      .segundoContLogo {
        display: flex;
        justify-content: left;

        a {
          flex: 1;

          .logo {
            justify-content: center;
            align-items: flex-end;
          }
        }
      }
    }
    
    .navbar-toggler {
      border: none;

      .navbar-toggler-icon {
        width: 24px;
        height: 24px;
      }
    }

    .contenedorTitulo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;

      .titulo {
        font-size: 2rem;
        text-align: center;
        margin-top: 0.5rem;
      }

      .nombre {
        text-align: center;
      }
    }
  }
}