/* GENERAL */
.titulo {
  font-family: $yanone;
  color: $color-naranja;
  margin-bottom: 0;
}

.navLinks {
  font-family: $yanone;
}

/* MOBILE */
@media (max-width: 576px) {
  
  nav {
    width: 100%;
    background-color: $color-blanco2;
    box-shadow: 0px 0.4px 0.8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2);

    &.navbar {
      height: 25vh;
      min-height: 175px;
    }

    &.segundaNavbar {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      height: 10vh;
      min-height: 80px;
      align-items: center;
      padding-top: .5rem;
      padding-bottom: .5rem;
      
      .segundoContLogo {
        display: flex;
        justify-content: left;

        a {
          flex: 1;

          .logo {
            justify-content: center;
            align-items: flex-end;
          }
        }
      }
    }
    
    .navbar-toggler {
      border: none;
    }

    .contenedorTitulo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .titulo {
        font-size: 2rem;
        text-align: center;
        margin-top: 0.5rem;
      }

      .nombre {
        text-align: center;
      }
    }
  }
}