/* MOBILE */
@media (max-width: 576px) {
  
  nav {
    width: 100%;
    height: 25vh;
    min-height: 175px;
    background-color: $color-blanco2;
    box-shadow: 0px 0.4px 0.8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2);

    .navbar-toggler {
      border: none;
    }

    .contenedorTitulo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .titulo {
        color: $color-naranja;
        font-size: 2rem;
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 0;
        font-family: $yanone;
      }

      .nombre {
        text-align: center;
      }
    }

    .navLinks {
      font-family: $yanone;
    }
  }
}