/* MOBILE */
@media (max-width: 576px) {
    .mainViandas {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 19px;

        .contentViandas {
            margin-top: 1.188rem;

            .primeraFilaCards {
                position: relative;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }

                .overlayCards {
                    @extend %overlayCards;
    
                    p {
                        color: $color-blanco;
                        font-weight: 700;
                        font-size: 0.875rem;
                        line-height: 20px;
                    }
                }
            }
            
            .segundaFilaCards {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto;
                grid-column-gap: 4px;
                margin-top: .25rem;
                margin-bottom: .25rem;

                a {
                    position: relative;
                
                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }

                    .overlayCards {
                        @extend %overlayCards;
                        height: 36px; 
        
                        p {
                            color: $color-blanco;
                            font-weight: 700;
                            font-size: 0.875rem;
                            line-height: 20px;
                        }
                    }
                }
            }

            .terceraFilaCards {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                grid-column-gap: 4px;
                margin-bottom: .25rem;

                a {
                    position: relative;
                
                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }

                    .overlayCards {
                        @extend %overlayCards;
        
                        p {
                            color: $color-blanco;
                            font-weight: 700;
                            font-size: 0.875rem;
                            line-height: 20px;
                        }
                    }
                }
            }
        }

        .btnViandas {
            background-color: $color-naranja;
            width: 100%;
            padding: 0.75rem;
            text-decoration: none;

            p {
                color: $color-blanco;
                text-align: center;
                font-weight: 700;
                letter-spacing: 0.15px;
            }            
        }
    }

    .contenedorTitulo {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        text-transform: uppercase;
        height: 5vh;
        min-height: 89px;
        padding-bottom: 1rem;
        background-color: $color-verde;
        
        .iconoTitulo {
            display: flex;
            align-items: flex-start;

            a {
                color: $color-negro1;
                text-decoration: none;
            }

            h1 {
                margin-bottom: 0;
            }
        }   
    }

    .bgNaranja {
        background-color: $color-naranja3;
    }

    .textoViandas {
        padding-top: .375rem;
        padding-bottom: .625rem;
        border-bottom: 1px solid $color-gris;
    }

    .contenedorViandas {

        display: flex;
        flex-direction: column;
        margin-top: 1.375rem;

        .cajaViandas {
            display: flex;
            flex-direction: row;
            padding-top: .875rem;
            padding-bottom: .875rem;
            border-bottom: 1px solid $color-gris;

            h6 {
                font-family: $roboto;
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 24px;
            }

            .viandasTitulo {
                display: flex;
                align-items: baseline;

                h6 {
                    padding-bottom: 0.125rem;
                }
            }

            &:last-child {
                margin-bottom: 15vh;
            }
        }
    }
}