/* MOBILE */
@media (max-width: 576px) {

  .overlay {
    display: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-negroTransp2;
    z-index: 9998;}

  .modalContacto {
    background-color: $color-negro;
    color: $color-blanco;
    border-radius: 10px;
    width: 90%;
    position: fixed;
    top: 35vh;
    right: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    transition: all .1s ease-in;

    .modalCaja {
      .contenedorDatos {
        width: 100%;
        margin-bottom: 2rem;
        
        p {
          text-align: start
        }
      }

      p {
        font-family: $roboto;
        line-height: 24px;
        margin: 2% 5%;
        text-align: center;
      }

      .datosContacto {
        font-weight: bold ;
      }

      .modalRedes {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 1rem;

        i {
          margin: 0 10%;
        }
      }
    }
  }

  .visible {
    visibility: visible;
    opacity: 1;
  }

  [data-animation="desplazarDerecha"].modalContacto {
    opacity: 0;
    transform: translateX(200%);
    transition: all 0.35s linear;
  }
  
  [data-animation="desplazarDerecha"].visible.modalContacto {
    opacity: 1;
    transform: none;
    transition-delay: 0.2s;
  }
}
