@import '../variables/fuentes';

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

p {
  font-family: $roboto;
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 0;
}